.navbar {
    background-color: #fff;
    border-bottom: #EDEAE5 1px solid;
    text-align: right;
}

.navLogo {
    height: 50px;
}

.NavbarToggler {
    border: none;
}

@media only screen and (min-width: 992px) {

    .navbarWrapper {
        display: none;
    }


} 