.formHeader {
    text-align: center;
    background-color: #026670;
    color: #FFF;
    font-family: "Ubuntu", "Lato", sans-serif;
}

.submitBtn {
    background-color: #026670;
}

.close {
    color: #FFF;
    opacity: 1;
}